
<div class="container">
    <div class="description">
        <h1>INCONTRA LE SQUADRE</h1>
        <p>ecco quali sono i team competitivi della CALL OF DUTY LEGUE,
             Il campionato si svolge in modo simile alla maggior parte dei campionati sportivi professionistici nordamericani,
              in cui tutte le squadre giocano partite programmate contro altre squadre
              per competere per la posizione nei playoff della stagione, 
              piuttosto che l'approccio di promozione e retrocessione della squadra 
              più comunemente usato in altri campionati di eSport. Il campionato attualmente comprende dodici squadre</p>
    </div>
    <div class="image">
        <img src="../assets/img/img1.jpg" class="img-fluid" width="400px">
    </div>
</div>
